
.fondo{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: block;
}

.fondo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.div-form h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

.div-form p{
    background-color: #fff;
    text-align: center;
    margin-bottom: 1em;
    color: rgba(0,0,0,.6);
    font-weight: lighter;
}

.form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    color: rgba(0,0,0,.8);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    /* background-color: rgba(0,0,0,.03); */
}

.form a{
    text-align: center;
    width: 100%;
    display: block;
    color: #007BFF;
}


.error{
    color: #FA5A56 !important;
    font-size: .9em;
    display: none;
    font-weight: normal !important;
}

.cart-div{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#cart-img{

    width: 5em;
}

@media (max-width:500px){
    .fondo{
        display: none;
    }

    .cart-div{
        display: flex;
    }
}